body {
    background-color: #e6ecf0;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1340px;
    }
}

.topsearchbar {
    margin-right: 25px;
}

.profile-stats-row {
    background-color: #fff;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 70px;
}

.profile-stats ul {
    list-style: none;
}

.profile-stats li {
    display: inline-block;
    padding: 10px 6px;
    text-align: center;
}

.tweetcard {
    background-color: #fff;
    margin: 2px 20px 0px 20px;
    display: flex;
    padding: 1em;
}

.tweetmainheader {
    background-color: #fff;
    margin: 20px 20px 0px 20px;
    padding: 1em;
    max-height: 40px;
    padding-top: 8px;
}

.tweetheader {
    margin-bottom: 0.5em;
}

.avatar2 {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 0.5em;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(../img/400x400.png);
}

.tweetfooter {
    font-size: 14px;    
}

.tweetusername {
    font-weight: bold;
    padding-left: 0px;
}

.tweetbody {
    margin-bottom: 0.5em;
    padding-left: 0px;
}

.twitterfeatures {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
}

.twitterfeaturesimg {
    width: 200px;
}

.profile-background {
    height: 320px;
    background-image: url('../img/1500x500.jpg');
}

.avatar-container {
    bottom: -217px;
    left: 10px;
    position: relative;
    transition: bottom .3s;
    z-index: 3;
}
  
.avatar {
    background: #fff;
    background-image: url(../img/400x400.png);
    border: 5px solid #fff;
    border-radius: 50%;
    height: 200px;
    position: relative;
    width: 200px;
    background-size: cover;
}

.profile-header {
    margin-top: 35px;
}

.profile-tweetname {
    color: #657786;
    display: block;
    font-size: 14px;
    margin-top: 12px;
}

.profile-website {
    color: #1DA1F2 !important;
    cursor: pointer;
}

.other-profile-name {
    padding-top: 5px;
    font-size: 14px;
}

.pic-col {
    margin: 2px;
    padding: 2px;
}

.twitterfeatures h3 {
    font-size: 18px; 
    line-height: 24px; 
    margin-bottom: 4px;
}

.justlogin {
    margin-bottom: 16px;
}

.worldwidetrend {
    background-color: #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.worldwidetrendid {
    color: #1B95E0; 
    font-size: 14px; 
    font-weight: bold;
}

.worldwidetrendnooftweets {
    color: #657786; 
    font-size: 12px; 
    line-height: 16px; 
    margin-bottom: 10px;
}

.recommendations {
    background-color: #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.recommendations h2, h3 {
    padding: 0px 10px;
}

.recommendations h2{
    margin-top: 8px;
    margin-bottom: 12px;
}

.worldwidetrend h2, span, div {
    padding: 0px 10px;
}

.worldwidetrend h2{
    margin-top: 8px;
    margin-bottom: 12px;
}

.youmayalsoliketitle {
    padding-top: 10px;
    padding-bottom: 10px;
}

.worldwidetrendstitle {
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-whatishappening {
    font-size: 14;
    padding-left: 0px;
    padding-bottom: 10px;
}

.profile-name {
    padding-left: 0px;
}

.tweetmainheaderlist {
    list-style: none;
    padding: 0px;
}

.tweetmainheaderlistitem {
    display: inline-block;
    font-size: 18px;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 0px 15px 0px 0px;
    color: #1B95E0;
    font-weight: bold;
    line-height: 1;
}

.profile-stats-header {
    color: #657786;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: .02em;
    transition: color .15s ease-in-out;
}

.profile-stats-text {
    color: #657786;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    transition: color .15s ease-in-out;
}

.leftbardesc {
    padding-left: 0px;
}

.leftbardescborn {
    padding-left: 0px;
    padding-bottom: 10px;
}

.leftbardescwords {
    color: #657786;
    display: inline;
    font-size: 14px;
}

.tweetuserid {
    padding-left: 0px; 
    padding-right: 0px;
}

.tweetdotsymbol {
    padding-left: 1px; 
    padding-right: 1px;
}

.tweetdate {
    padding-left: 0px;
}

.replycount{
    padding-left: 0px; 
    padding-right: 20px;
}

.retweetcount {
    padding-left: 0px; 
    padding-right: 20px;
}

.likecount {
    padding-left: 0px; 
    padding-right: 20px;
}

.youmayalsoliketitlerow {
    margin-bottom: 15px;
}