body {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    text-decoration: none;
    padding: 4px 10px;
}

.navbar a.right {
    float: right;
    text-decoration: none;
}

.banner {
    height: 360px;
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}

.banner .bannerimg {
    width: 100%;
}

.profile-navbar {
    margin: auto;
    width: 35%;
    display: flex;
    text-align: center;
}

.profile-navbar a {
    text-decoration: none;
    padding: 4px 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.leftside {
    flex: 25%;
    background-color: #e6ecf0;
}

.leftside ul li {
    list-style: none;
}

.main {
    flex: 50%;
}

.rightside {
    flex: 25%;
}

.tweet {
    max-width: 400px;
    margin: 1em auto;
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
}

.tweetheader {
    margin-bottom: 0.5em;
}

.avatar {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 0.5em;
    border-radius: 50%;
    overflow: hidden;
}

.tweetfooter {
    font-size: 14px;    
}

.tweetusername {
    font-weight: bold;
}

.tweetbody {
    margin-bottom: 0.5em;
}

.twitterfeatures {
    text-align: center;
}